.products {
  padding: 60px 8%;
  text-align: center;
  background: #f5fbff;
}

.products h2 {
  font-size: 40px;
  color: #073b82;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 70, 140, 0.12);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.product-card h3 {
  color: #073b82;
  font-size: 20px;
  margin: 15px 0;
}

.product-card button {
  border: none;
  background: #0879dc;
  color: white;
  padding: 13px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.product-card button:hover {
  background: #0054a6;
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
